<div>
  <ul>
    <li>
      <a href="https://stenciljs.com/">
        Stencil.js
        <span class="framewrok">Angular</span>
      </a>
    </li>
    <li style="float:right">
      <a class="active" (click)="auth('SignUp')">Sign Up</a>
    </li>
    <li style="float:right; margin-right: 1px;">
      <a class="active" id="signIn" (click)="auth('SignIn')">Sign In</a>
    </li>
  </ul>
  <fbs-auth-modal [mode]="mode" [dbKey]="authKey" #modal>
    <h1 id="header">{{ header }}</h1>
    <span id="submit" slot="submit">{{ header }}</span>
  </fbs-auth-modal>

  <div style="display:flex; justify-content: space-around;">
    <div>
      <fbs-db-tree [dbPath]="dbPath" #dbTree></fbs-db-tree>
    </div>
    <div class="form" style="display:flex; flex-direction: column;">
      <div>
        <label for="dbkey">Web API Key</label>
        <br />
        <input type="text" id="dbkey" [(ngModel)]="authKey" />
        <br />
        <label for="dbPath">Database Path</label>
        <br />
        <input type="text" id="dbPath" [(ngModel)]="dbPath" />
        <br />
        <br />
      </div>
      <div class="form result">
        <div style="display: flex; justify-content: center;">
          Selected Tree Path
        </div>
        <div id="tree">{{ path }}</div>
      </div>
    </div>
  </div>
</div>
